@import './../../styles/main';

.Recovery {
  height: 100vh;
  background-color: $colorGrayLight;
  
  @include on-tablet {
    min-height: calc(100vh - 48px * 2);
  }
  
  @include on-desktop {
    min-height: calc(100vh - 64px * 2);
  }

  &__container {
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__header {
    @include card-title;
  }
}