@import './../../styles/main';

.card {
  @include card-stiles;

  &__top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: top;
    width: 100%;

    @include on-tablet {
      flex-direction: row;
      justify-content: space-between;
      align-items: top;
    }
  }

  &__leftBlock {
    display: flex;
    flex-direction: column;
    min-width: $selectionMinWidth;
    gap: 20px;
    height: 104px;
  }

  &__rightBlock {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 20px;
    height: 104px;
  }

  &__chart {
    width: 100%;
    max-width: 380px;
  }
}
