@import './../../styles/main';

.eyes {
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px 24px;

    @include middle {
      .edit-button {
        opacity: 0;
        transition: opacity 0.2s ease;
      }
    
      &:hover {
        .edit-button {
          opacity: 1;
        }
      }
    }

    &-top {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: top;
      padding-bottom: 16px;
      width: 100%;

      @include on-tablet {
        flex-direction: row;
        justify-content: space-between;
        align-items: top;
        height: 50px;
      }
    }

    &-top-leftBlock {
      display: flex;
      gap: 12px;
      align-items: flex-start;
      justify-content: flex-start;
    }

    &-image {
      width: $iconWidth - 4;
      object-fit: contain;
    }

    &__eyes {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: baseline;
    }

    &-chart {
      width: 100%;
      max-width: 380px;
    }

    &-values{
      display: flex;
      gap: 8px;
      align-items:baseline;
      width: max-content;
    }

    &-title {
      font-size: 24px;
      font-weight: 500;
      color: $colorTextSecond;
      &-active {
        color: $colorCyclamen;
      }
    }

    &-sign {
      font-size: 18px;
      font-weight: 400;
      color: $colorTextSecond;
    }

    &-value {
      font-size: 24px;
      font-weight: 500;
      color: $colorTextSecond;
      &-active {
        color: $colorLavender;
      }
      &-activeLeft {
        color: $colorSkyBlue;
      }
    }

    &-edit {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      padding-top: 8px;
      gap: 24px;

      @include on-tablet {
        padding-top: 0;
        align-items: flex-end;
        justify-content: flex-start;
        gap: 24px;
      }
    }

    &__button {
      @include button-card;
    }
  }
}