.iconBig {
  width: 32px;
  height: 32px;
  cursor: pointer;

  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  &--plus {
    background-image: url(../assets/icons/plus.svg);
  
    &:hover {
      background-image: url(../assets/icons/plusHover.svg);
    }
  }
}

.bg {
  width: 100%;
  height: 100%;
  background-image: url(../assets/images/bg.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.icons {
  width: 24px;
  height: 24px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  &--facebook {
    background-image: url(../assets/icons/facebook.png);
  }

  &--google {
    background-image: url(../assets/icons/google.png);
  }

  &--close {
    width: 18px;
    height: 18px;
    cursor: pointer;
    background-image: url(../assets/icons/Close.svg);
  }

  &--close-wight {
    width: 18px;
    height: 18px;
    cursor: pointer;
    background-image: url(../assets/icons/Close-wight.svg);
  }

  &--menu {
    width: 16px;
    height: 16px;
    cursor: pointer;
    background-image: url(../assets/icons/menu.svg);
  }
}
