@import './../../styles/main';

.SignUpPage {
  margin: 0 auto;
  padding-top: 40px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  
  @include on-tablet {
    min-height: calc(100vh - 48px * 2);
  }
  
  @include on-desktop {
    min-height: calc(100vh - 64px * 2);
  }
}

.fade-enter {
  opacity: 0;
  transform: translateY(20px);
}
.fade-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.5s ease, transform 0.5s ease;
}
.fade-exit {
  opacity: 1;
  transform: translateY(0);
}
.fade-exit-active {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}