@import './../../styles/main';

.SelectionCardBlock {
  display: flex;
  flex-direction: column;
  gap: 8px;

  &__select {
    border: none;
    background-color: $colorTransparent;
    border-bottom: 1px solid $colorGrayDarck;
    color: $colorTextSecond;
    width: $selectionWidth;
  }
}