@import './../../styles/main';

.bg-container {
  position: absolute;
  overflow: hidden;
  width: 100%;
  z-index: -1;
  height: 90%;
  overflow: hidden;
  opacity: 0.8;
}

.bg-grid {
  display: grid;
  grid-template-columns: repeat(90, 1fr); 
  grid-template-rows: repeat(30, 1fr); 
  gap: 4px;
  text-align: center;
}

.bg-grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
  font-size: 24px;
  width: 25px;
  height: 25px;
  box-sizing: border-box;
  transition: background-color 0.3s ease, opacity 0.3s ease;
}

.bg-grid-item.shape {
  border-radius: 50%;
  background-color: #EE71D4;
}

.bg-grid-item.shape.square {
  border-radius: 0;
}

.bg-grid-item.shape.rectangle {
  border-radius: 0;
  width: 50%;
}

.bg-grid-item.shape.t-shape {
  border-radius: 0;
  height: 10%;
}

.bg-grid-item.shape.d-shape {
  border-radius: 0 25px 25px 0;
}

.bg-grid-item.shape.circle {
  border-radius: 0;
  border-radius: 50%;
}


