@import './../../styles/main';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $colorIndigoDark;
  height: 48px;
  gap: 16px;

  position: sticky;
  top: 0;
  z-index: 10;
  box-shadow: 0 1px 0 0 $colorVeronica;

  @include on-desktop {
    gap: 24px;
    height: 64px;
  }

  &__logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 16px;
    height: 100%;

    @include on-desktop {
      padding-inline: 24px;
    }

    &-img {
      width: 80px;

      @include on-desktop {
        width: 100px;
      }
    }
  }
}

.navContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;

  &__actions {
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 14px;
    color: $colorGrayLight;
    padding-right: 16px;

    &--text {
      position: relative;
      color: $colorGrayLight;

      &:hover::after {
        content: ''; 
      position: absolute;
      bottom: -4px;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: $colorGrayLight;
      }
    }
  }

  &__account {
    text-decoration: none;

    &--active {
      .navContainer__actions--text {
        position: relative;
        
        &::after {
          content: ''; 
          position: absolute;
          bottom: -4px;
          left: 0;
          width: 100%;
          height: 1px;
          background-color: $colorGrayLight;
        }
      }
    }

    
    &--hellow {
      color: $colorGrayLight;
      font-size: 14px;
    }
  }
}

.BurgerMenu {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: 16px;

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    box-shadow: 0px 0px 8px rgba(34, 2, 73, 0.2);

  }

  @include on-desktop {
    display: none;
  }

  @include on-tablet {
    display: none;
  }
}
