@font-face {
  font-family: Rubik;
  src: url('../../public/Rubik/static/Rubik-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: Rubik;
  src: url('../../public/Rubik/static/Rubik-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: Rubik;
  src: url('../../public/Rubik/static/Rubik-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: Rubik;
  src: url('../../public/Rubik/static/Rubik-Bold.ttf');
  font-weight: 700;
}