$colorIndigo: #404ABD;
$colorIndigoDark: #272D76;
$colorVeronica: #6771DE;
$colorSkyBlue: #50C3F9;
$colorSendyBrown: #FFA54B;
$colorCyclamen: #FF5C9D;
$colorLavender: #C88CF8;
$colorGrayLight: #F6F7F7;
$colorGraySuperLight: #F8F9FA;
$colorGrayDarck: #a6aeb7;
$colorTextMain: #201835;
$colorTextSecond: #3b3d5d;
$colorTextThird: #6c6e90;
$colorTransparent: rgba(255, 255, 255, 0);
$ButtonCardColor: #6771DE;



$breakpoint-phone: 375px;
$breakpoint-tablet: 680px;
$breakpoint-middle: 880px;
$breakpoint-desktop: 1380px;

$iconsHeaderSize-mobile-tablet: 48px;
$iconsHeaderSize-desktop: 64px;

$selectionWidth: 100px;
$selectionMinWidth: 130px;
$buttonWidth: 70px;
$buttonBigWidth: 120px;
$iconWidth: 30px;

$colorVeronicaLight: #adb0d9;
$colorSkyBlueLight: #9bc7dc;
$colorSendyBrownLight: #d5b99c;
$colorCyclamenLight: #e2a1bb;
$colorLavenderLight: #cdbdda;

$colors: (
  $colorVeronicaLight: #adb0d9,
  $colorSkyBlueLight: #9bc7dc,
  $colorSendyBrownLight: #d5b99c,
  $colorCyclamenLight: #e2a1bb,
  $colorLavenderLight: #cdbdda
);