$colorIndigo: #5528CF;
$colorVeronica: #6E33EB;
$colorSkyBlue: #50C3F9;
$colorSendyBrown: #FFA347;
$colorCyclamen: #FF5C9D;
$colorLavender: #C88CF8;
$colorGrayLight: #F8F9FA;
$colorTextMain: #1C152F;
$colorTextSecond: #625F6C;

$breakpoint-phone: 320px;
$breakpoint-tablet: 640px;
$breakpoint-middle: 840px;
$breakpoint-desktop: 1200px;

$iconsHeaderSize-mobile-tablet: 48px;
$iconsHeaderSize-desktop: 64px;
