$colorIndigo: #404ABD;
$colorIndigoDark: #272D76;
$colorVeronica: #6771DE;
$colorSkyBlue: #50C3F9;
$colorSendyBrown: #FFA54B;
$colorCyclamen: #FF5C9D;
$colorLavender: #C88CF8;
$colorGrayLight: #F6F7F7;
$colorGraySuperLight: #F8F9FA;
$colorGrayDarck: #a6aeb7;
$colorTextMain: #1C152F;
$colorTextSecond: #585b89;

$breakpoint-phone: 375px;
$breakpoint-tablet: 680px;
$breakpoint-middle: 840px;
$breakpoint-desktop: 1280px;

$iconsHeaderSize-mobile-tablet: 48px;
$iconsHeaderSize-desktop: 64px;

$selectionWidth: 100px;
$buttonWidth: 70px;
$buttonBigWidth: 120px;
$iconWidth: 32px;
$ButtonCardColor: #6771DE;

$colors: (
  $colorVeronica: #adb0d9,
  $colorSkyBlue: #9bc7dc,
  $colorSendyBrown: #d5b99c,
  $colorCyclamen: #e2a1bb,
  $colorLavender: #cdbdda
);