@import './../../styles/main';

.logInPage {
  box-sizing: border-box;
  display: flex;
  padding-top: 80px;
  justify-content: center;
  height: auto;

  @include on-tablet {
    height: calc(100vh - 48px * 2);
  }
  
  @include on-desktop {
    height: calc(100vh - 64px * 2);
  }
}