@import './../../styles/main';

.logInPage {
  margin: 0 auto;
  padding-top: 40px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  height: 100vh;
  
  @include on-tablet {
    min-height: calc(100vh - 48px * 2);
  }
  
  @include on-desktop {
    min-height: calc(100vh - 64px * 2);
  }

  &__passwordRecovery {

  }
}