@import './../../styles/main';

.title {
display: flex;
flex-direction: row;
gap: 6px;

  &__image {
    width: $iconWidth - 2;
    height: $iconWidth;
    object-fit: contain;
  }

  &__values{
    display: flex;
    gap: 8px;
    width: max-content;
  }

  &__text {
    @include card-title;
  }
}