@import './../../styles/main';

.dashboard {
  @include padding-inline;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  padding-bottom: 32px;

  @include on-tablet {
    grid-template-columns: repeat(1, 1fr);
  }

  @include middle {
    grid-template-columns: repeat(2, 1fr);
  }

  @include on-desktop {
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
  }

  &__item {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: auto;
    background-color: $colorGrayLight;
    border-radius: 25px;
    box-sizing: border-box;
    transition: background-color 0.2s ease;

    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.2s ease-out forwards;
    
    &:hover {
      box-shadow: 0px 0px 8px rgba(34, 2, 73, 0.2);
      background-color: #fff;
    }
  }

  &__item-big {
    position: relative;
    @include on-tablet {
      width: 100%;
    }

    @include middle {
      width: 204%;
    }

    @include on-desktop {
      width: 208%;
    }
  }

  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
