@import './../../styles/main';

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $colorIndigoDark;
  height: 48px;
  gap: 16px;

  @include on-desktop {
    gap: 24px;
    height: 64px;
  }

  &__navbar {
    width: 100%;
    padding-inline: 16px;
    display: flex;
    flex-direction: row;
    gap: 24px;
    justify-content: center;
    align-items: center;

    &--link {
      text-decoration: none;
      padding: 4px 0;
      color: $colorGrayLight;
      position: relative;
      cursor: pointer;

      &:hover {
        &::after {
          position: absolute;
          content: "";
          bottom: 0;
          left: 0;
          right: 0;
          height: 1px;
          background-color: $colorGrayLight;
        }
      }
    }
  }


}
