@import './../../styles/main';

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $colorIndigoDark;
  height: 48px;
  gap: 16px;

  @include on-desktop {
    gap: 24px;
    height: 64px;
  }

  &__logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 16px;
    height: 100%;

    @include on-desktop {
      padding-inline: 24px;
    }

    &-img {
      width: 60px;

      @include on-desktop {
        width: 80px;
      }
    }
  }
}
