@import './../../styles/main';

.vaccine {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 24px 24px;

  @include middle {
    .edit-button {
      opacity: 0;
      transition: opacity 0.2s ease;
    }
  
    &:hover {
      .edit-button {
        opacity: 1;
      }
    }
  }

  &__top {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: top;
    width:100%;
    height: 120px;

    @include on-tablet {
    justify-content: space-between;
      flex-direction: row;
      align-items: top;
      height: 75px;
      padding-bottom: 0;
    }

    &--type {
      font-size: 15px;
      font-weight: 300;
    }

    &__actions {
      display: flex;
      height: 50px;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 32px;
    }

    &--leftBlock {
      display: flex;
      flex-direction:column;
      align-items: flex-start;
      gap: 10px;
      justify-content: flex-start;
      padding-bottom: 16px;
    }

    &--rightBlock {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: flex-start;
      padding-top: 8px;
      padding-bottom: 32px;

      @include on-tablet {
        display: flex;
        flex-direction: column;
        padding-top: 0;
        align-items: end;
        justify-content: flex-start;
      }
    }

    &--picker {
      display: flex;
      flex-direction: row;
      margin-bottom: 8px;
      width: 100%;

      @include on-tablet {
        display: inline-block;
        text-align: end;
      }
    }

    &--image {
      width: $iconWidth;
      object-fit: contain;
    }

    &--title {
      display: flex;
      flex-direction: row;
      gap: 10px;
      font-size: 24px;
      font-weight: 500;
      color: $colorTextSecond;
    }

    &--selectVaccine {
      border: none;
      background-color:  rgba(76, 175, 80, 0);
      // border-bottom: 1px solid $colorGrayDarck;
      color: $colorTextSecond;
      width: $selectionWidth;
    }

    &--selectDate {
      background-color:  rgba(76, 175, 80, 0);
      border: 1px solid $colorGrayDarck;
      border-radius: 15px;
      padding-left: 14px;
      color: $colorTextSecond;
      width: $selectionWidth;
      margin-left: 10px;
    }

    &__button {
      font-size: 15px;
      font-weight: 500;
      color: $colorGrayLight;
      background-color: $ButtonCardColor;
      border-radius: 15px;
      padding: 10px 14px;
      width: 100%;
      cursor: pointer;
      transition: transform 0.3s ease, background-color 0.3s ease;
    
      &:hover {
      background-color: $colorIndigo;
      }

      @include on-tablet {
        padding: 7px 14px;
        width: $buttonBigWidth;
      }

      &__container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
        align-items: top;
        width: 100%;
        padding-bottom: 0;
    
        @include on-tablet {
          display: inline;
          text-align: right;
        }
      }
    
      &--add {
        @include on-tablet {
          padding: 7px 14px;
          width: $buttonWidth + 38px;
          }
      }

      &--cancel {
      background-color: $colorGrayLight;
      padding: 6px 14px;
      border: 1px solid $colorCyclamen;
      color: $colorCyclamen;

      @include on-tablet {
      width: $buttonWidth + 32px;
      margin-left: 8px;
      }
  
      &:hover {
        background-color: $colorGrayLight;
        }
      }
    }
  }

  &-chart {
    width: 100%;
    max-width: 750px;
  }
};

.react-datepicker__day--selected,
.react-datepicker__day--selected:hover {
  background-color: $colorVeronica !important; /* Цвет фона выбранной даты */
  color: #fff !important; /* Цвет текста */
}