@import './styles/main';

body {
  margin: 0;
  scroll-behavior: smooth;
  font-family: Rubik, sans-serif;
  background-color: #F8F9FA;
}

.app {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &__container {
    min-height: 100vh;
  
    @include on-tablet {
      min-height: calc(100vh - 48px * 2);
    }
    
    @include on-desktop {
      min-height: calc(100vh - 64px * 2);
    }
  }
}

.no-scroll {
  overflow: hidden;
}
