@import './styles/main';

// html {
//   overflow: hidden;
// }

body {
  margin: 0;
  font-family: Rubik, sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  scroll-behavior: smooth;

  &__container {
    overflow: hidden;

    @include on-tablet {
      min-height: calc(100vh - 48px * 2);
    }
    
    @include on-desktop {
      min-height: calc(100vh - 64px * 2);
    }
  }
}

.no-scroll {
  overflow: hidden;
}
