@import './../../styles/main';

.eyes {
  @include card-stiles;

  &__top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: top;
    padding-bottom: 16px;
    width: 100%;

    @include on-tablet {
      flex-direction: row;
      justify-content: space-between;
      align-items: top;
      height: 50px;
    }
  }

  &__eye {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  &__chart {
    width: 100%;
    max-width: 380px;
  }

  &__values{
    display: flex;
    gap: 8px;
    align-items:baseline;
    width: max-content + 4;
  }

  &__sign {
    font-size: 18px;
    font-weight: 400;
    color: $colorTextSecond;
  }

  &__value {
    font-size: 24px;
    font-weight: 500;
    color: $colorTextSecond;
    &--activeRight {
      color: $colorCyclamen;
    }
    &--activeLeft {
      color: $colorCyclamen;
    }
  }

  &__edit {
    @include on-phone {
      display: none;
    }
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-end;
    justify-content: flex-start;
  }

  &__mobile {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 16px;
    gap: 24px;
    
    @include on-tablet {
      display: none;
    }
  }

  &__button {
    @include button-card;
  }
}