@import './../../styles/main';

.modal {
  padding-top: 50px ;

  &__form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 375px;
    background-color: $colorGrayLight;
    padding: 24px 32px;
    border-radius: 25px;
    margin: 0 auto;

    &__close-button {
      text-align: right;
    }

    @include on-tablet {
    width: 400px;
    }

    &__title {
      color: $colorIndigo;
      font-family: Rubik, sans-serif;
      font-size: 24px;
      line-height: 120%;
      text-align: center;
    }
  
    &__button {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 16px;
      margin-bottom: 16px;
      font-size: 16px;
      font-weight: 500;
      color: $colorGrayLight;
      background-color: $ButtonCardColor;
      border-radius: 15px;
      padding: 10px 14px;
      cursor: pointer;
      transition: transform 0.3s ease, background-color 0.3s ease;
  
     &:hover {
      background-color: $colorIndigo;
     }
  
     &--guest {
      border: 1px solid $ButtonCardColor;
      background-color: white;
      color: $colorIndigo;
  
      &:hover {
        color: $colorGrayLight;
      }
     }
    }

    &__control {
      width: 100%;
      padding: 0.5rem 0.75rem;
      font-size: 1rem;
      line-height: 1.2;
      color: #495057;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #ced4da;
      border-radius: 0.25rem;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    
      &:focus {
        color: #495057;
        background-color: #fff;
        border-color: $colorSkyBlue;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
      }
    
      &:invalid {
        border-color: $colorCyclamen;
        box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
      }
    
      &:invalid:focus {
        border-color: $colorCyclamen;
        box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
      }
    
      &::placeholder {
        color: #6c757d;
        opacity: 1;
      }

      &--date {
        display: flex;
        justify-content: space-between;
      
        select {
          width: 100px; // Ширина каждого селектора
          padding: 8px; // Внутренний отступ для удобства
          border: 2px solid #fff; // Светлая рамка
          border-radius: 4px; // Скругленные углы
          font-size: 16px; // Размер шрифта
          color: #333; // Цвет текста
          background-color: #fff; // Цвет фона
          cursor: pointer; // Указатель курсора при наведении
      
          &:focus {
            border-color: #007bff; // Цвет рамки при фокусе
            outline: none; // Убираем стандартную обводку
          }
      
          option {
            font-size: 16px; // Размер шрифта для опций
          }
        }
      }
    }  
  
    &__input {
      display: flex;
      flex-direction: column;
      gap: 4px;
    }
  
    &__label {
      font-size: 14px;
      color: $colorTextThird;
    }
  }
}
