@import './../../styles/main';

.homePage {
  display: flex;
  flex-direction: column;
  background-color: #F8F9FA;
  height: auto;
  
  @include on-tablet {
    padding-top: 60px;
    height: 100vh;
  }

  &__top {
    @include section-grid;
    padding-top: 24px;
  }

  &__description {
    grid-column: 1 / -1;
    padding-bottom: 60px;
    
    @include middle {
      padding-top: 16px;

    grid-column: 13 / -2;
    }
  }

  &__text {
    @include section-grid;

  }

  &__header {
    padding-bottom: 24px;

    &__title {
      font-size: 32px;
      line-height: 120%;
      padding-bottom: 8px;    
      font-weight: 500;
      color: $colorIndigoDark;
    }
  }

  &__paragraph {
    display: flex;
    flex-direction: column;
    gap: 8px;
    @include h3-tablet;
    color: $colorTextSecond;
    grid-column: 1 / 13;
    padding-bottom: 24px;

    &-dots {
      display: flex;
      align-items: start;
      gap: 10px;
      box-sizing: border-box;
      position: relative;
      width: 100%;
      height: auto;
    }
  }

  &__bunner {
    padding-top: 20px;
    grid-column: 1 / -1;
    padding-bottom: 20px;

    @include middle {
      grid-column: 1 / 12;
    }

    &--img {
      width: 100%;
      height: auto;
      object-fit: contain; 
    }
  }

  &__button {
    @include button-card;
    &--home {
      @include on-tablet {
        width: 168px;
      }
    }
  }
}

.dot {
  margin-top: 6px;
  flex-shrink: 0;
  width: 10px;
  height: 10px;
  background-color: $colorSkyBlue;
  border-radius: 50%;
}
