@import './../../styles/main';

.homePage {
  display: flex;
  flex-direction: column;
  @include padding-inline;

  min-height: calc(100vh - 48px * 2);
  
  @include on-tablet {
    min-height: calc(100vh - 48px * 2);
  }
  
  @include on-desktop {
    min-height: calc(100vh - 64px * 2);
  }

  &__top {
    padding-top: 24px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 32px;

    @include middle {
      flex-direction: row;
      padding-top: 100px;
      justify-content: center;
      align-items: flex-start;
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    background: #fff;
    box-shadow: 0px 0px 8px rgba(34, 2, 73, 0.4);
    border-radius: 25px;
    padding: 32px;
    flex-shrink: 4;
    height: auto;
    margin-bottom: 32px;

    @include on-tablet {
      max-width: 580px;
      padding: 40px;
    }

    @include on-desktop {
      height: 394px;
    }
  }

  &__bunner {
    display: flex;
    padding: 32px;
    overflow-y: hidden;
    background-color: rgb(199, 197, 249);
    box-shadow: 0px 0px 8px rgba(34, 2, 73, 0.4);
    border-radius: 25px;
    width: fit-content;
    flex-shrink: 0;
  }

  &__text {
    @include section-grid;
  }

  &__header {
    padding-bottom: 24px;

    &__title {
      font-size: 28px;
      line-height: 120%;
      padding-bottom: 8px;    
      font-weight: 500;
      color: $colorIndigoDark;

      @include on-tablet {
        font-size: 36px;
      }
    }
  }

  &__paragraph {
    display: flex;
    flex-direction: column;
    gap: 8px;
    @include h3-tablet;
    color: $colorTextSecond;
    padding-bottom: 24px;


    &-dots {
      display: flex;
      align-items: start;
      gap: 10px;
      box-sizing: border-box;
      position: relative;
      width: 100%;
      height: auto;
    }
  }



  &__buttons-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include on-tablet {
      flex-direction: row;
      gap: 16px;
    }

  }

  &__button {
    @include button-card;
    width: full;

    @include on-tablet {
      width: 116px;
      font-size: 18px;
      padding: 10px 20px;
    }

    &--signUp {
      background-color: $colorCyclamen;

      @include on-tablet {
        width: 200px;
        font-size: 18px;
        padding: 10px 20px;
        background-color: $colorCyclamen;
      }
    }
  }
}

.dot {
  margin-top: 6px;
  flex-shrink: 0;
  width: 10px;
  height: 10px;
  background-color: $colorSkyBlue;
  border-radius: 50%;
}

.fade-enter {
  opacity: 0;
  transform: translateY(25px);
}
.fade-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.5s ease, transform 0.5s ease;
}
.fade-exit {
  opacity: 1;
  transform: translateY(0);
}
.fade-exit-active {
  opacity: 0;
  transform: translateY(25px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

