@import './../../styles/main';

.homePage {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 48px * 2);
  
  @include on-tablet {
    min-height: calc(100vh - 48px * 2);
  }
  
  @include on-desktop {
    min-height: calc(100vh - 64px * 2);
  }

  &__top {
    @include section-grid;
    padding-top: 24px;

    @include on-tablet {
      padding-top: 60px;
    }
  }

  &__description {
    grid-column: 1 / -1;
    background: #fff;
    box-shadow: 0px 0px 8px rgba(34, 2, 73, 0.4);
    border-radius: 25px;
    padding: 20px;
    margin-bottom: 60px;
  }

  &__text {
    @include section-grid;
  }

  &__header {
    padding-bottom: 24px;

    &__title {
      font-size: 36px;
      line-height: 120%;
      padding-bottom: 8px;    
      font-weight: 500;
      color: $colorIndigoDark;

      @include on-tablet {
        font-size: 36px;
      }
    }
  }

  &__paragraph {
    display: flex;
    flex-direction: column;
    gap: 8px;
    @include h3-tablet;
    color: $colorTextSecond;
    grid-column: 1 / 13;
    padding-bottom: 24px;

    &-dots {
      display: flex;
      align-items: start;
      gap: 10px;
      box-sizing: border-box;
      position: relative;
      width: 100%;
      height: auto;
    }
  }

  &__bunner {
    padding: 20px;
    margin: auto;
    overflow-y: hidden;
    grid-column: 1 / -1;
    background-color: rgba(255, 255, 255);
    
    box-shadow: 0px 0px 8px rgba(34, 2, 73, 0.4);
    padding-bottom: 20px;
    border-radius: 25px;

    @include middle {
      margin: 0;
      grid-column: 1 / -1;
      margin-bottom: 20px
    }
  }

  &__button {
    @include button-card;
    margin-right: 16px;
    margin-bottom: 24px;

    @include on-tablet {
      width: 200px;
      font-size: 18px;
      padding: 10px 20px;
    }

    &--signUp {
      @include on-tablet {
        width: 200px;
        font-size: 18px;
        padding: 10px 20px;
        background-color: $colorCyclamen;
      }
    }
  }
}

.dot {
  margin-top: 6px;
  flex-shrink: 0;
  width: 10px;
  height: 10px;
  background-color: $colorSkyBlue;
  border-radius: 50%;
}
